
body{
	background: #404040;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.container {
	display: flex;
	border: 17px solid #404040;
	background: #FFDC00;
	border-radius: 20rem;
	width: 60%;
	padding: 2rem;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

h1 {
	margin: 0;
	padding: 0;
	user-select: none;
}

.col-1 {
	width: 45%;
}

.col-2 {
	width: 25%;
}

.col > button, .number {
	width: 100%;
	background: #FFDC00;
	border: 0px;
	text-align: center;
}

.button {
	font-family: sans-serif;
	font-size: 2em;
}

/* button is 10% of the browser window width or 10vw */

#minus-btn,
#plus-btn {
  font-size: 20vw;
  font-weight: bolder;
  color:#0023ff;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 8px;
  cursor: pointer;
}


