#pokemon-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemon-container {
  display: flex;
}

.pokemon-card {
  border: solid 2px black;
  height: 200px;
  width: 200px;
}

#btn-update {
  margin: 20px;
  width: 300px;
  height: 50px;
  font-size: 20px;
}
